/* Hero.css */
.hero-container {
  position: relative;
  margin-top: 30px;
 
}

.hero-slider {
  display: flex;
  
  overflow: hidden;
}

.hero-slide {
  flex: 0 0 100%;
  display: flex;
  
  justify-content: center;

}

.circle-container {
  position: absolute;
  top:'60px';
  left: 50%;
  /* transform: translateX(-50%); */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  margin-top: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.active-circle {
  background-color: blue;
}
