.table{
    width: 100%;
    border-collapse:collapse;
   
    border-spacing: 1rem;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.tbody>tr>td{
   text-align: center;
  
}
.cart{
 
  
  font-weight: 34px;
  font-size: 38px;
  color: blue;
 
  margin-bottom: 2rem;
}
.tbody>tr>td{
     padding-top: 3rem;
}
.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid grey;
  }
  
  .table th {
    background-color: rgb(204, 200, 200);
    color: black;
  }